*{
    margin:0px;
    

}

body{
    min-height: 100vh;
    margin : 0px;
    padding:0px;
    
}
p{
    color:rgb(184, 180, 180)
}
.nameBold{
    width: 100%;
    height: 20%;
    position : absolute;
    font-size: 2vw;
    top: 30%;
}
.nameLight{
    width: 100%;
    height: 10%;
    position : absolute;
    font-size: 1.4vw;
    bottom : 22%;
}
.logoContainer{
    height:8%;
    width : 15%;
    position: absolute;
    top : 2%;
    left : 10%;
    display: flex;
    justify-content: space-between;
}
.logoName{
    height : 100%;
    width : 78%;
    display: inline-block;
    position: relative;
}
.logoName .nameBold{
    height: 60%;
    top : 0px;
}
.logoName .nameLight{
    height: 40%;
    bottom: 0px;
}
.logoDiv{
    height: 100%;
    width : 20%;
    position : relative;
    display: inline-block;
}

.logo{
    transform : skewY(20deg);
    background-color: rgb(9, 75, 173);
    border-radius: 10%;
    position: absolute;
}
.logo1{
    height : 60%;
    width : 65%;
    opacity: 0.5;
}
.logo2{
    height : 68%;
    width : 78%;
    opacity: 0.7;
    top: 15%;
    left : 12%;
}
.logo3{
    height : 45%;
    width : 55%;
    opacity: 0.3;
    bottom : 0px;
    right: 0px;
}
.main{
    height : 95vh;
    width : 90%;
    margin-left: 10%;
    position : relative;
    border-left: 0.005px solid rgb(235, 232, 232);
}
.navbar{
    height : 4%;
    width : 38%;
    position: absolute;
    right : 6%;
    top : 2%;
    display : flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
    color: white;
    font-size: 1vw;
}
.navbar p{
    color: white;
}
.search{
    width: 15%;
    height : 100%;
    position: relative;
}
.searchicon{
    position: absolute;
    right : 5%;
    width :50%;
    height : 100%;
}
.svg{
    width : 100%;
    height : 100%;
}
.button{
    width: 85%;
    display : flex;
    justify-content:space-between;
    align-items: center;
}

.mainContent{
    width : 40%;
    height : 60%;
    position : absolute;
    left : 10%;
    bottom : 20%;
}
.content{
    width : 100%;
    height : 100%;

    display: inline-block;
    position: relative;
}

.mainContent .next{
        width : 52%;
        left:0px;
        bottom:0px;
}
.navImage{
    height : 125%;
    width : 55%;
    position : absolute;
    right: 0px;
    overflow: hidden;
    border-radius: 10%;
    display: inline-block;
    
    transform: rotate(47deg);
    transform-origin: 100% 40%;
}
.mainImage{
    transform: rotate(-47deg);
   width: 130%;
   height:100%;
   transform-origin: 75% 65%;
   background : url("main.png");
    background-size: 80% 100%;

}
.blog{
    /*margin-top: 60px;*/
    margin-bottom: 60px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items : center;
    width : 70%; /* initially 80*/
    height : 60vh;
}
.topicImg{
    width: 40%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.part1{
    width: 100%;
    height : 62%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.part11{
    width: 49%;
    height: 100%;
    background-color: rgb(9, 75, 173);
    border-radius: 6px;
    position: relative;
}
.part12{
    width: 49%;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
}
.part2{
    width: 100%;
    height : 36%;
    overflow: hidden;
    border-radius: 6px;
}
.part12img{
    height: 100%;
    width: 100%;
}

.part2img{
    height: 100%;
    width: 100%;
}

.topicContent{
    width: 55%;
    height: 100%;
    position:relative
}
.bloghead{
    position: absolute;
    font-size: 1.5vw;
    bottom:10%;
    right:10%;
    color: white;
}
.bold{
    width:80%;
    font-size: 1.3vw;
    margin-left: 10%;
    margin-top: 10%;

}

.light{
    width: 70%;
    font-size: 1.2vw;
    margin-left: 15%;
    margin-top: 3%;
}

.next {
    width:50%; /* initially 40*/
    height: 6vh;
    position : absolute;
    right: 20px;
    bottom : 2px;
    display:flex;
    box-shadow: 3px 3px 18px #cfcccc;
    overflow: hidden;
    border-radius: 32px 30px 30px 32px;
}
.action{
    /*background-color: white;*/
    height: 6vh;
    width: 85%;
    position: relative;
}
.action p{
    position : absolute;
    font-size: 1.2vw;
    color: black;
    top: 1.5vh;
    left:6vh;
}
.arrow{
    background-color: rgb(9, 75, 173);
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    position : relative;
}
.triangle{
    width:0px;
    height:0px;
    position: absolute;
    border-top: 0.5vh solid transparent;
    border-left: 1vh solid white;
    border-bottom: 0.5vh solid transparent;
    left : 2.7vh;
    top: 2.5vh;
}

.bookDemo{
    width : 90%;
    height : 70vh;
    margin-left : 10%;
    margin-bottom: 60px;
    position: relative;

}
.bookDemoContainer{
    width : 94.8%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height : 100%;
    position : absolute;
    z-index: 1;
    
    
}
.bgDiv{
    position: absolute;
    top : 8%;
    height:35%;
    width:100%;
    background-color: rgba(226, 224, 224, 0.904);
}
.productDiv{
    width: 15.8%;
    height : 100%;
    position: relative;
}
.products{
    width:100%;/* 15.8%;*/
    height: 55%;
    background-color: rgb(9, 75, 173);
    
    border-radius: 6px;
    /*display : inline-block;*/
    position: relative;
}
.arrowLeft{
    position : absolute;
    height: 6vh;
     width: 6vh;
    border-radius: 50%;
    box-shadow: 3px 3px 18px #cfcccc;
    right: 35%;
    bottom : 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowRight{
    position : absolute;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    box-shadow: 3px 3px 18px #cfcccc;
    right: 0%;
    bottom : 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demoCards{
    width:25.4%;
    height : 100%;
   /* display: inline-block;*/
    box-shadow: 3px 3px 18px #cfcccc;
    border-radius: 10px;
   /* margin-left: 2.6%;*/
    position : relative;
    background-color: white;
}
.Circle{
        position : absolute;
        top : 4%;
        right : 8%;
        box-shadow: 3px 3px 18px #cfcccc;
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
}
.demoHead{
    width : 50%;
    height : 8%;
    position: absolute;
    top : 15%;
    right : 25%;
}
a{
    text-decoration: none;
    
    font-size: 2.5vw;
    display: inline-block;
}
.demoCards .next{
    bottom : 4%;
    right: 12%;
    width : 85%;
}
.demoBold{
    position: absolute;
    width : 68%;
    top: 35%;
    font-size: 1.2vw;
    right : 20%;
}
.demoLight{
    position : absolute;
    font-size: 1.25vw;
    width : 68%;
    top: 47%;
    right : 20%;
}
.linkDiv{
    height : 12vh;
    width : 60%;
    margin-left: 15%;
    display : flex;
    justify-content:space-between;
    align-items: center; 
    border-bottom: 0.005px solid rgb(235, 232, 232);
}
 .links{
    width : 23%;
    height : 80%;
    display : flex;
    justify-content:center;
    align-items: center;
 }
.contactDiv{
    margin-top: 40px;
    width: 100%;
    height : 95vh;
    position :  relative;
    margin-bottom: 40px;
}
.contactDiv .bgDiv{
    height : 22%;
    top: 5%;
}
.contactDivContainer{
    width:90%;
    height: 100%;
    position: absolute;
    z-index: 1;
    right: 0px;
    display : flex;
    justify-content: space-between;
    
}
.contact{
    width: 34%;
    height : 100%;
    position: relative;
}
.support{
    top: 43%;
}
.sales{
    top : 66%;
}
.in{
    width : 100%;
    height : 100%;
    position: relative;
}
.in h3{
    position: absolute;
    left : 10%;
    top: 20%;
    font-size: 1.5vw;
}
.detail{
    width : 100%;
    height : 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}
.icon img{
    /*object-fit: cover;*/
    width:100% ;
    height: 100%;
}
.phone{
    position: absolute;
    left : 10%;
    top : 50%;
}
.mail{
    position: absolute;
    left : 10%;
    top : 68%;
}
.icon{
    width : 5%;
    overflow: hidden;
    height: 100%;
}
.detailsNum{
    width : 90%;
    overflow: hidden;
    height: 100%;
}
.contact .products{
    width : 45%;
    height: 36%
}
.contacts{
    height : 20%;
    width: 80%;
    box-shadow: 3px 3px 18px #cfcccc;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    right: 0px;
}
.contact .next{
    width : 55%;
    right : 25%;
}
.map{
    width : 64%;
    height : 100%;

}

.footer{
    height : 12vh;
    width : 85%;
    margin-left: 15%;
    margin-bottom: 20px;
    position: relative;
    border-top: 0.005px solid rgb(235, 232, 232);
}
.logof{
     height : 63%;
    width : 3.2%;
    position: absolute;
    top : 37%;
}
.inlogof{
    height : 100%;
    width : 100%;
    position: relative;
}
.navbarf{
    width : 45%;
    height : 15%;
    position: absolute;
    top : 45%;
    right : 30%;
    font-size: 1vw;
    
}
.navbarf p{
    color: black;
}
.social{
    height : 40%;
    width : 22%;
    position: absolute;
    top : 30%;
    right : 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social .Circle{
    position: relative;
    height : 100%;
    width : 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width:60% ;
    height: 70%;
}